@define-mixin aspect-ratio $width, $height {
  position: relative;
  display: block;

  &::before {
    display: block;
    content: '';
    width: 100%;
    padding-top: calc(($height / $width) * 100%);
  }
}

@define-mixin hide-text {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}
