- function langFallback(prop, defaultLang = 'en') {
-   if (typeof prop === 'undefined') {
-     return undefined;
-   }
-
-   const result = prop[language];
-
-   if (typeof result === 'undefined') {
-     return prop[defaultLang];
-   }
-
-   return result;
- }
