{
  "extends": "stylelint-config-standard",
  "ignoreFiles": [
    "src/**/_normalize.css",
    "src/**/_plyr.css",
  ],
  "rules": {
    "string-quotes": "single",
    "at-rule-empty-line-before": [
      "always",
      {
        except: [
          "blockless-after-same-name-blockless",
          "first-nested",
        ],
        ignore: [
          "after-comment",
          "all-nested",
        ],
      }
    ],
  }
}
