/* Colors */
$black: #333;
$accent: #f6be3a;
$accent-light: #ffd557;
$footer: $black;

$fb-background: #3b5998;
$fb-icon: white;
$sc-background: #f80;
$sc-icon: white;
$in-background: #0077b5;
$in-icon: white;
$imdb-background: #f5de50;
$imdb-icon: black;

/* Fonts */
$body-font: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

/* Breakpoints */
@custom-media --sm-max (width < 768px);
@custom-media --md-min (width >= 768px);
@custom-media --md-max (width < 1024px);
@custom-media --lg-min (width >= 1024px);
@custom-media --lg-max (width < 1440px);
@custom-media --xlg-min (width >= 1440px);

/* Speeds */
$fast: 0.3s;
$medium: 0.5s;
$slow: 0.8s;

/* container */
$container-padding: 20px;
$container-padding-md: 30px;

/* header */
$header-height: 60px;
$header-height-md: 90px;

/* logo */
$logo-vertical-padding: 8px;
$logo-vertical-padding-md: 10px;

/* to-top */
$to-top-size: 70px;

/* h1 */
$h1-font-size: 24px;
$h1-font-size-md: 36px;
$h1-font-size-lg: 48px;

/* h2 */
$h2-font-size: 28px;
$h2-font-size-md: 36px;

/* h3 */
$h3-font-size: 18px;
$h3-font-size-md: 20px;
$h3-font-size-lg: 24px;

/* h4 */
$h4-font-size: 14px;
$h4-font-size-md: 16px;
