/* Colors */
$black: #333;
$gray: #999;
$gray-light: #ddd;
$white: #f8f8f8;
$accent: #f6be3a;
$accent-light: #ffd557;
$footer: $black;

/* Andrea colors */
$blue-darker: #506f74;
$blue-dark: #5e8288;
$blue: #8eaca9;
$blue-light: #9bbab7;
$blue-lighter: #bdd9d6;
$blue-lightest: #f4fbfb;

/* Social colors */
$fb-background: #3b5998;
$fb-icon: white;
$tw-background: #1da1f2;
$tw-icon: white;
$sc-background: #f80;
$sc-icon: white;
$in-background: #0077b5;
$in-icon: white;
$imdb-background: #f5de50;
$imdb-icon: black;
$email-background: $blue-dark;
$email-icon: white;

/* Fonts */
$avenir-font: 'Avenir', 'Avenir Next', 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$raleway-font: 'Raleway', 'Avenir', 'Avenir Next', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$helvetica-font: 'Helvetica Neue', 'Helvetica', 'Raleway', 'Arial', sans-serif;
$plyr-font: 'Avenir', 'Avenir Next', 'Helvetica Neue', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;

/* Breakpoints */
@custom-media --sm-max (width < 768px);
@custom-media --md-min (width >= 768px);
@custom-media --md-max (width < 1024px);
@custom-media --lg-min (width >= 1024px);
@custom-media --lg-max (width < 1440px);
@custom-media --xlg-min (width >= 1440px);

/* Speeds */
$fast: 0.3s;
$medium: 0.5s;
$slow: 0.8s;

/* container */
$container-padding: 20px;
$container-padding-md: 40px;

/* header */
$header-height: 60px;
$header-height-md: 90px;

/* logo */
$logo-vertical-padding: 8px;
$logo-vertical-padding-md: 15px;

/* work-item */
$work-padding: 16px;

/* buttons */
$button-mask-size: 20px;

/* forms */
$input-height: 40px;
$input-padding: 10px;

/* silder */
$slider-arrow-width: 186px;
$slider-arrow-height: 50px;

/* to-top */
$to-top-size: 70px;

/* h1 */
$h1-font-size: 24px;
$h1-font-size-md: 36px;
$h1-font-size-lg: 48px;

/* h2 */
$h2-font-size: 28px;
$h2-font-size-md: 36px;

/* h3 */
$h3-font-size: 20px;
$h3-font-size-md: 24px;
$h3-font-size-lg: 30px;

/* h4 */
$h4-font-size: 14px;
$h4-font-size-md: 16px;

/* hamburger */
$hamburger-padding-x: 5px;
$hamburger-padding-y: 15px;
$hamburger-layer-width: 30px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 6px;
$hamburger-layer-color: white;
$hamburger-layer-border-radius: 0;
