/* Colors */
$black: #333;
$accent: #f6be3a;

/* Fonts */
$body-font: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

/* Breakpoints */
@custom-media --sm-max (width < 768px);
@custom-media --md-min (width >= 768px);
@custom-media --md-max (width < 1024px);
@custom-media --lg-min (width >= 1024px);
@custom-media --lg-max (width < 1440px);
@custom-media --xlg-min (width >= 1440px);

/* Speeds */
$fast: 0.3s;
$medium: 0.5s;
$slow: 0.8s;

/* to-top */
$to-top-size: 70px;
