body {
  color: $blue-darker;
  font-family: $helvetica-font;
  background-color: $blue-lightest;
  font-size: 15px;
  line-height: 1.6;
  transition: background-color $slow ease, color $slow ease;

  .dark-mode & {
    background-color: black;

    .works,
    .news {
      color: $gray;
    }
  }

  ::selection {
    background: $blue;
    color: white;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;

  li {
    position: relative;
    padding-left: 1.5em;

    &::before {
      color: $blue;
      content: '—';
      position: absolute;
      left: 0;
    }
  }
}

svg,
time,
img {
  display: block;
}

img {
  width: 100%;
}

@media (--md-min) {
  body {
    font-size: 17px;
  }
}

@media (--lg-min) {
  body {
    font-size: 18px;
  }
}
