.h1,
.h3 {
  color: white;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $avenir-font;
}

.h1,
.h2,
.h4 {
  @extend %wide-caps;
}

.h1,
.h2,
.h3 {
  font-weight: 300;
  text-align: center;
}

.h1 {
  font-size: $h1-font-size;
}

.h2 {
  font-size: $h2-font-size;
  margin-top: 50px;
}

.h3 {
  font-size: $h3-font-size;
}

.h4 {
  font-size: $h4-font-size;
  font-weight: 600;

  &::before {
    content: '//';
    color: $blue;
    letter-spacing: 0;
    margin-right: 10px;
  }
}

@media (--md-min) {
  .h1 {
    font-weight: 400;
    font-size: $h1-font-size-md;
  }

  .h2 {
    font-size: $h2-font-size-md;
    margin-top: 80px;
  }

  .h3 {
    font-size: $h3-font-size-md;
  }

  .h4 {
    font-size: $h4-font-size-md;
  }
}

@media (--lg-min) {
  .h1 {
    font-size: $h1-font-size-lg;
  }

  .h3 {
    font-size: $h3-font-size-lg;
  }
}
