.button {
  @extend %wide-caps;

  width: 240px;
  display: block;
  margin: 60px auto 0;
  background-color: $blue-darker;
  text-align: center;
  position: relative;
  font-weight: 400;
  padding: 12px 0;
  font-size: 12px;
  font-family: $avenir-font;
  transition: background-color $fast ease;
  color: white;
  cursor: pointer;

  &__svg {
    display: inline-block;
    width: 20px;
    height: 13px;
    margin-bottom: -2px;
    margin-left: 4px;
    transition: transform $medium ease;
  }

  &__polyline {
    fill: none;
    stroke: white;
    stroke-width: 0.7;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &::before,
  &::after {
    content: '';
    display: block;
    width: $button-mask-size;
    height: $button-mask-size;
    position: absolute;
    border-width: calc($button-mask-size / 2);
    border-style: solid;
    border-color: transparent $blue-lighter transparent transparent;
    transition: border-color $slow ease;

    .dark-mode & {
      border-color: transparent black transparent transparent;
    }
  }

  &::before {
    top: calc((-$button-mask-size / 2) - 1px);
    left: calc((-$button-mask-size / 2) - 1px);
    transform: rotate(45deg);
  }

  &::after {
    bottom: calc((-$button-mask-size / 2) - 1px);
    right: calc((-$button-mask-size / 2) - 1px);
    transform: rotate(225deg);
  }

  &:hover,
  &:focus {
    outline: 0;
    background-color: $blue-dark;

    .button__svg {
      transform: translateX(4px);
    }
  }
}

@media (--md-min) {
  .button {
    margin-top: 80px;
  }
}
