.contact-form {
  font-family: $avenir-font;

  &__input-wrap {
    margin-bottom: calc($container-padding * 2);
  }

  &__label {
    color: $blue-light;
    text-transform: uppercase;
    position: absolute;
    pointer-events: none;
    transform: translate3d($input-padding, 6px, 0);
    transition: all 0.3s ease;

    &.is-label {
      color: $blue;
      font-size: 12px;
      transform: translate3d(0, -100%, 0);
    }
  }

  &__input,
  &__textarea {
    color: $gray;
    font-family: inherit;
    width: 100%;
    background-color: white;
    margin: 0;
    border: 1px solid $blue-lighter;
    border-radius: 4px;
    padding: $input-padding;

    &:focus {
      outline: 0;
    }
  }

  &__input {
    height: $input-height;
  }

  &__textarea {
    resize: vertical;
  }

  .button {
    appearance: none;
    font-size: 16px;
    font-weight: 300;
    border: 0;
    border-radius: 4px;
  }
}

@media (--md-min) {
  .contact-form {
    max-width: 800px;
    margin: 0 auto;

    &__row {
      @neat-row;

      .contact-form__input-wrap {
        @neat-span-columns 6;
      }
    }
  }
}
