.languages-select {
  appearance: none;
  background-color: transparent;
  border: 0;
  color: white;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 13px;
  padding-right: 12px;
  background-image: url(/img/icons/dd-arrow.png);
  background-size: 6px 7px;
  background-position: center right;
  background-repeat: no-repeat;
  @extend %wide-caps;
}

@media (--sm-max) {
  .languages-select {
    display: none;
  }
}
