.logo {
  position: relative;
  z-index: 10;
  display: inline-block;
  transition: opacity $fast ease;

  &:hover,
  &:focus {
    outline: 0;
    opacity: 0.7;
  }

  &__svg {
    height: $header-height;
    padding: $logo-vertical-padding 0;
  }

  &__andrea {
    fill: white;
  }

  &__colosio {
    fill: #c8c8c8;
  }

  &__sound {
    fill: #aaa;
  }
}

@media (--md-min) {
  .logo {
    &__svg {
      height: $header-height-md;
      padding: $logo-vertical-padding-md 0;
    }
  }
}
