.logo {
  position: relative;
  z-index: 10;
  display: inline-block;
  transition: opacity $fast ease;

  &:hover,
  &:focus {
    outline: 0;
    opacity: 0.7;
  }

  &__svg {
    height: $header-height;
    padding: $logo-vertical-padding 0;
  }

  &__head,
  &__mustache {
    fill: none;
    stroke: white;
  }

  &__head {
    stroke-width: 4;
  }

  &__mustache {
    stroke-width: 3;
  }
}

@media (--md-min) {
  .logo {
    &__svg {
      height: $header-height-md;
      padding: $logo-vertical-padding-md 0;
    }
  }
}
