.logo {
  position: relative;
  z-index: 10;
  display: inline-block;
  transition: opacity $fast ease;
  padding: $logo-vertical-padding 0;
  height: $header-height;

  &:hover,
  &:focus {
    outline: 0;
    opacity: 0.7;
  }

  &__svg {
    height: 100%;
  }

  &__andrea {
    fill: #d6d6d6;
  }

  &__colosio {
    fill: #d6d6d6;
  }

  &__sound {
    fill: #d6d6d6;
  }
}

@media (--md-min) {
  .logo {
    padding: $logo-vertical-padding-md 0;
    height: $header-height-md;
  }
}
