.main-menu {
  font-weight: 600;

  &__item {
    display: inline-block;
  }

  &__link {
    display: inline-block;
    @extend %wide-caps;
  }

  .footer & {
    color: white;

    &__link {
      transition: color $fast ease;

      &:hover,
      &:focus {
        outline: 0;
        color: $accent;
      }
    }
  }

  .header & {
    &__link {
      transition: opacity $fast ease;

      &:hover,
      &:focus {
        outline: 0;
        opacity: 0.7;
      }
    }
  }
}

@media (--sm-max) {
  .main-menu {
    width: 100%;
    overflow: hidden;

    &__item {
      display: block;
    }

    .header & {
      font-size: 20px;
      text-align: center;

      &__item {
        &:nth-child(odd) {
          .main-menu__link {
            transform: translateX(75%);
          }
        }

        &:nth-child(even) {
          .main-menu__link {
            transform: translateX(-75%);
          }
        }
      }

      &__link {
        padding: 10px;
        opacity: 0;
        transition: transform $medium cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity $medium ease;
      }

      .menu-animation & {
        &__link {
          transform: translateX(0) !important;
          opacity: 1 !important;
        }
      }
    }

    .footer & {
      &__item {
        & + .main-menu__item {
          margin-top: 0.4em;
        }
      }
    }
  }
}

@media (--md-min) {
  .main-menu {
    font-size: 13px;

    &__item {
      margin-right: 32px;

      &:last-child {
        margin-right: 0;
      }
    }

    .header & {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
