.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  z-index: 20;

  &__scrolling-container {
    position: relative;
    max-height: 100vh;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  &__close {
    @mixin hide-text;

    background-image: url(/img/icons/close.png);
    background-size: calc($modal-close-width / 2) calc($modal-close-height / 2);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: $modal-close-width;
    height: $modal-close-height;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  &__work-content {
    > * {
      margin-bottom: 2rem;
    }
  }
}

@media (--md-max) {
  .modal {
    &__work-video {
      margin-bottom: 1rem;
    }

    &__video-link {
      display: none;
    }
  }
}

@media (--lg-min) {
  .modal {
    &__close {
      position: fixed;
      right: 30px;
    }

    &__work-info {
      @neat-span-columns 4;
    }

    &__work-content {
      @neat-span-columns 8;

      min-height: 1px;
      padding-top: 10px; /* Align with title */
    }

    &__work-poster {
      img {
        width: auto;
        max-width: 100%;
        margin: 0 auto;
      }
    }
  }
}
