.news-item {
  & + & {
    margin-top: 50px;
  }

  &__img,
  &__body {
    @neat-span-columns 10;
    @neat-shift 1;
  }

  &__img {
    box-shadow: 4px 10px 20px $blue-shadow;
  }

  &__date {
    @extend %wide-caps;

    opacity: 0.5;
    font-size: 12px;
  }
}

@media (--sm-max) {
  .news-item {
    .h4 {
      padding-top: 10px;
    }
  }
}

@media (--md-min) {
  .news-item {
    display: flex !important;
    align-items: center;

    & + & {
      margin-top: 80px;
    }

    &__img {
      @neat-span-columns 3;
    }

    &__body {
      @neat-span-columns 6;
    }
  }
}

@media (--lg-min) {
  .news-item {
    &__date {
      font-size: 13px;
    }
  }
}
