.to-top {
  @extend %wide-caps;

  position: absolute;
  top: calc(-$to-top-size / 2);
  left: 50%;
  transform: translateX(-50%);
  width: $to-top-size;
  height: $to-top-size;
  font-size: 12px;
  color: white;
  background-color: $blue-darker;
  border-radius: 99px;
  display: block;
  padding-top: 18px;
  font-family: $avenir-font;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  transition: background-color $fast ease;

  &__svg {
    width: 20px;
    height: 10px;
    margin: 0 auto 6px;
    transition: transform $medium ease;
  }

  &__polyline {
    fill: none;
    stroke: white;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &:hover,
  &:focus {
    outline: 0;
    background-color: $blue-dark;

    .to-top__svg {
      transform: translateY(-4px);
    }
  }
}
