@media (--md-min) {
  .video-gallery {
    margin-top: 30px;
    column-count: 3;
    column-gap: $work-padding;
  }
}

@media (--lg-min) {
  .video-gallery {
    margin-top: 40px;
    column-gap: calc($work-padding * 2);
  }
}
