.work-item {
  &__link {
    display: inline-block;
    transition: filter $medium ease, opacity $medium ease;
  }

  &__img {
    background-size: cover;
    background-position: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__title {
    margin-top: $work-padding;
    margin-bottom: 0;
    font-size: 15px;
    text-align: center;
  }

  &__metadata {
    display: none;
  }
}

@media (--sm-max) {
  .work-item {
    & + & {
      margin-top: calc($container-padding * 2);
    }

    &__body {
      top: 0;
      right: 0;
      left: 0;
    }

    &__title {
      padding: 0 $work-padding;
    }
  }
}

@media (--md-min) {
  .work-item {
    margin-bottom: calc($work-padding * 2);
  }
}
