a.contentful-logo(href='https://www.contentful.com/', rel='nofollow noopener', target='_blank')
  img(src='https://images.ctfassets.net/fo9twyrwpveg/7Htleo27dKYua8gio8UEUy/0797152a2d2f8e41db49ecbf1ccffdaa/PoweredByContentful_DarkBackground_MonochromeLogo.svg', style='max-width:100px;width:100%;', alt='Powered by Contentful')
