| Email:
= ' '
a.credits__link(href=`mailto:${langFallback(client[0].fields.email)}`)= langFallback(client[0].fields.email)
ul.credits.unstyled-list
  li Design & Development: <a class='credits__link' href='https://lorisbettazza.com' target='_blank' rel="noopener">Loris Bettazza</a>
  li Special thanks: <a class='credits__link' href='mailto:fabio.caverzasio@gmail.com'>Fabio Caverzasio</a>
