| Email:
= ' '
a.credits__link(href=`mailto:${client.email}`)= client.email
ul.credits.unstyled-list
  li Design and Development: <a class='credits__link' href='https://github.com/Pustur' target='_blank'>Loris Bettazza</a>
  li Special thanks: <a class='credits__link' href='mailto:fabio.caverzasio@gmail.com'>Fabio Caverzasio</a>
