svg.logo__svg(xmlns='http://www.w3.org/2000/svg', version='1.1', x='0', y='0', viewBox='0 0 117.7 97.7', xml:space='preserve')
  line.logo__head(x1='76.8', y1='40.9', x2='94.8', y2='40.9')
  line.logo__head(x1='40.8', y1='40.9', x2='22.8', y2='40.9')
  polyline.logo__head(points='103.8 49.9 112.8 40.9 112.8 4.9 94.8 22.9 94.8 40.9 112.8 58.9 94.8 58.9 112.8 76.9 94.8 76.9 76.8 94.9 58.8 76.9 76.8 58.9 76.8 40.9 94.8 22.9 ')
  polyline.logo__head(points='13.8 49.9 4.8 40.9 4.8 4.9 22.8 22.9 22.8 40.9 4.8 58.9 22.8 58.9 4.8 76.9 22.8 76.9 40.8 94.9 58.8 76.9 40.8 58.9 40.8 40.9 22.8 22.9 ')
  polyline.logo__head(points='22.8 21.9 40.8 2.9 58.8 20.9 76.8 2.9 94.8 21.9 ')
  line.logo__head(x1='76.8', y1='58.9', x2='40.8', y2='58.9')
  line.logo__head(x1='72.3', y1='90.4', x2='45.3', y2='90.4')
  line.logo__mustache(x1='40.8', y1='76.9', x2='22.8', y2='94.9')
  line.logo__mustache(x1='31.8', y1='76.9', x2='13.8', y2='94.9')
  line.logo__mustache(x1='76.8', y1='76.9', x2='94.8', y2='94.9')
  line.logo__mustache(x1='85.8', y1='76.9', x2='103.8', y2='94.9')
