ul.social-menu.unstyled-list
  each socialItem in langFallback(socials[0].fields.socials)
    li.social-menu__item
      a.social-menu__link(href=langFallback(socialItem.fields.url), target='_blank' rel='noopener')
        case langFallback(socialItem.fields.name)
          when 'Facebook'
            include _icon-facebook
          when 'Twitter'
            include _icon-twitter
          when 'Soundcloud'
            include _icon-soundcloud
          when 'Linkedin'
            include _icon-linkedin
          when 'IMDb'
            include _icon-imdb
          when 'Instagram'
            include _icon-instagram
        = langFallback(socialItem.fields.name)
