ul.social-menu.unstyled-list
  each socialItem in social
    li.social-menu__item
      a.social-menu__link(href=socialItem.url, target='_blank')
        case socialItem.name
          when 'Facebook'
            include _icon-facebook
          when 'Soundcloud'
            include _icon-soundcloud
          when 'Linkedin'
            include _icon-linkedin
          when 'IMDb'
            include _icon-imdb
        = socialItem.name
