include ../../0-core/_functions
include ../../0-core/_mixins

- const language = 'en';
-
  const intl = PolyFilledDateTimeFormat(language, {
    year: 'numeric',
    month: 'long',
    day: 'numeric'
  });

block pageVariables

doctype html
html(lang=language, class={ [`page-${pageName}`]: pageName })
  head
    include ../../0-core/_meta
    block meta
    link(rel='stylesheet', href='/css/style.min.css')

  block body
