extends ../1-layouts/_standard

block meta
  title About me • Andrea Colosio • Sound Designer Portfolio

block main
  main.main
    .parallax(data-image-src='/img/parallax-about.jpg')
      div
        h1.h1 About me

    .about
      .container
        img.profile-pic(src='/img/andrea.jpg')
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        h2.h2 Origin story
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
          br
          | Laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          br
        p
          |Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          br
          | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          br
          | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        h2.h2 Skills & Tools
        .row
          .half
            h3.h4 Skills
            ul.half
              li Sound design
              li Mixing & mastering
              li Recording
              li Reverse engineering
              li Video editing
              li Video game nights organizer
          .half
            h3.h4 Tools
            ul.half
              li Kyma
              li Logic Pro
              li Pro Tools
              li Wwise
              li Unity 3D
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
