extends 1-layouts/_standard

block meta
  title Andrea Colosio • Sound Designer Portfolio

block main
  main.main
    section#name.name
      h1.h1= slogan.main
      h2.h3= slogan.secondary

    section#news.news
      .container
        h3.h2 News
        - const latestNews = news[0];
        +news(latestNews.thumbnail, latestNews.alt, latestNews.title, latestNews.date, latestNews.text)
        a.button(href=menu[3].url) View all news
          svg.button__svg(xmlns='http://www.w3.org/2000/svg', version='1.1', x='0', y='0', viewBox='0 -1 16 10', xml:space='preserve')
            polyline.button__polyline(points='1,4 15,4')
            polyline.button__polyline(points='11,1 15,4 11,7')
