extends 1-layouts/_standard

block meta
  title Andrea Colosio • Sound Designer Portfolio

block main
  main.main
    .parallax(data-image-src='/img/parallax-home.jpg')
      div
        h1.h1= slogan.main
        p.h3= slogan.secondary

    .works
      .container
        h3.h2 Works
        +videoPlayer(works.slice(0, 3))
        +button('View all works', menu[1].url)

    .news
      .container
        h3.h2 News
        - const latestNews = news[0];
        +news(latestNews.thumbnail, latestNews.alt, latestNews.title, latestNews.date, latestNews.text)
        +button('View all news', menu[3].url)
