extends 1-layouts/_standard

block meta
  title Andrea Colosio • Sound Designer Portfolio

block main
  main.main
    section#news
      .container
        h1.h1 Andrea Colosio
        h2.h3 Sound Designer
        h3.h2 News
        - const latestNews = news[0];
        +news(latestNews.thumbnail, latestNews.alt, latestNews.title, latestNews.date, latestNews.text)
