header.header
  .container
    .relative
      a.logo(href=`/${language}${menu.home.url}`)
        include _icon-logo
      include _hamburger
      .menu-wrapper
        nav.menu-wrapper__nav
          h2.sr-only Main navigation
          include _main-menu
