doctype html

- const language = 'en'

html(lang=language)
  head
    title Redirecting, please wait
    meta(http-equiv='refresh', content=`0; url=${site[0].fields.url.en}${language}${menu[0].fields.contact.en.fields.url.en}`)
  body
    p Redirecting...
