.sr-only {
  @extend %sr-only;
}

.relative {
  position: relative;
}

.row {
  @neat-row;
}

@media (--md-min) {
  .half {
    width: 50%;
    float: left;
  }
}

.no-margin-top {
  margin-top: 0;
}
