.sr-only {
  @extend %sr-only;
}

.relative {
  position: relative;
}

.row {
  @neat-row;
}

.large-paragraph {
  font-size: 120%;
  font-family: $avenir-font;
  font-style: italic;
  font-weight: 300;
}

@media (--md-min) {
  .half {
    width: 50%;
    float: left;
  }
}

.no-margin-top {
  margin-top: 0;
}
