.container {
  padding: 0 $container-padding;

  @neat-outer-container 100%;
}

@media (--md-min) {
  .container {
    padding: 0 $container-padding-md;

    &.full {
      @neat-outer-container 100%;

      padding: 0;
    }
  }
}

@media (--lg-min) {
  .container {
    @neat-outer-container 80%;

    &.bigger {
      @neat-outer-container 90%;
    }

    &.smaller {
      @neat-outer-container 60%;
    }
  }
}
