.contact {
  &-paragraph {
    text-align: center;
    margin-bottom: 30px;
    opacity: 0.7;
    font-size: 14px;

    a {
      color: $blue;
    }
  }
}

@media (--md-min) {
  .contact {
    &-paragraph {
      font-size: 16px;
      margin-bottom: 50px;
    }
  }
}
