.contact {
  &-paragraph {
    text-align: center;
    margin-bottom: 30px;

    a {
      color: $blue;
    }
  }
}

@media (--md-min) {
  .contact {
    &-paragraph {
      margin-bottom: 50px;
    }
  }
}
