.works {
  padding-top: 40px;

  .h2 {
    margin-bottom: 50px;
  }

  .button {
    margin-top: 60px;
  }
}

@media (--md-min) {
  .works {
    .h2 {
      margin-bottom: 80px;
    }

    .button {
      margin-top: 80px;
      margin-bottom: 40px;
    }
  }
}
